



.input-block {
  display: flex;
  align-items: center;
  width: 45rem;
  height: 8rem;
  font-family: Poppins;
  font-size: 1.8rem;
  line-height: 24px;
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  outline: 0;

}
.input-block + .input-block{
  margin-top: 0;
}
.input-block:first-child{
  border-radius: 8px 8px 0px 0px;
}

.input-block:last-child{
  border-radius: 0px 0px 8px 8px;
}

 .input-block input {
    background: transparent;
    border: 0;
    flex: 1;
 }
  .input-block input::placeholder {
      color: #9C98A6;
    }

  
 .input-block svg {
  color: #9C98A6;
  margin-right: 24px;
  }

  .input-block:focus-within::after {
    height: calc(100% - 2rem);
    width: 3px;
    content: '';
    background: var(--color-primary-light);
    position: absolute;
    left: -2px;
  
  }







