/* PAGE HEADER */

.page-header {
  display:flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.page-header .top-bar-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-dark);
  color: var(--color-text-in-primary);
  padding: 1.6rem;

}
.page-header .top-bar-container a {
  height: 3.2rem;
  transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover{
  opacity: 0.6;
} 
.page-header .top-bar-container > img{

  height: 1.6rem;

}

.page-header .header-content{

  width: 90%;
  margin: 0 auto;
  position: relative;
  margin: 3.2rem auto;
}

.page-header .header-content strong {
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

.page-header .header-content p {
  max-width: 30rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-in-primary);
  margin-top: 2.4rem;
}

.page-header .emoji-content{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -4rem;
 
 
}
.page-header .emoji-content img {
  width: 3rem;
  height: 3rem;
}
.page-header .emoji-content p {
  margin-left: 10px;
  width: 50%;
  align-self: center;
  margin-bottom: 16px;
}
@media(min-width: 700px){
  .page-header {
    height: 340px;
  }

  .page-header .top-bar-container{
   width: 100%;
   padding-left: 100px;
   padding-right: 100px;
   font: 500 16px Archivo;
  
  }


  .page-header .header-content{
    flex: 1;
    max-width: 740px;
    padding-left: 20px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
    margin-top: 40px;
  }

  .page-header .header-sub-content{
    display: flex;
    width: 100%;
    margin-top: 34px;
    justify-content: space-between;
    margin-bottom: 66px;

    
  }

  .page-header .header-sub-content p{
    margin-top: 0;
  }
  .page-header .emoji-content{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 56px;
   
   
  }
  .page-header .emoji-content p {
    margin-left: 20px;
    font-size: 12px;
    line-height: 20px;
    margin-top: 12px;
    white-space: pre-line;

    
 
  
    
  }

  .page-header .header-content strong {
    max-width: 350px;

  }
  
    
  }
 



 
