#page-login-proffy{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo-img img { 
  width: 100%;
  height: 35rem;
  background-color: var(--color-primary);

}
.page-login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;


}
.page-login-form legend {
  text-align: center;
  margin-top: 2rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  color: #32264D;
  margin-bottom: 1.2rem;

}

.page-login-form p{
  text-align: center;
}

.input-form {
display: flex;
align-items: center;
flex-direction: column;
margin-top: 2.2rem;


}
.input-form input {
  width: 40rem;
  height: 7.5rem;
  padding: 1rem;
  font-family: Poppins;
  font-size: 1.8rem;
  line-height: 24px;
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;
 
}
.input-form input + input{
  border-radius: 0px 0px 8px 8px;
} 

   .input-form input::placeholder{
    color: #9C98A6;
    padding-left: 0.5rem;
  
  }  



.page-login-form .remember-me a{

  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #9C98A6;
  
}

.page-login-form button:disabled{

  width: 45rem;
  height: 7rem;
  margin-top: 5.5rem;
  background-color: #DCDCE6;
  color: #9C98A6;
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
}

.page-login-form button{

  width: 45rem;
  height: 7rem;
  margin-top: 5.5rem;
  background-color: var(--color-secundary);
  color: var(--color-button-text);
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
}

.header{
  position: relative;

}




@media(min-width: 700px){
  #page-login-proffy {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: 
    "form logo "
    ;

  }


  .logo-img {
    grid-area: logo;
    margin:0; 
    height: 100vh; 
    
    
  }

  .logo-img img {
    width: 100%;
    height: 100%;
    
  }

  .page-login-form{
    display: flex;
    grid-area: form;
    padding-left: 1rem;
    padding-right: 2rem;
    width: 100%;
    height: 100vh;
    position: relative;
    bottom: 40px
  

  }


  .page-login-form legend {
    font-family: Poppins;
    font-size: 38px;
    line-height: 34px;
    text-align: start;
    font-weight: bolder;
    color: #32264D;
  
  }
  .page-login-form p{

    margin-top: 20px;
    font-family: Poppins;
    font-size: 18px;
    line-height: 26px;
    color: #6A6180;
    text-align: start;
    
  }

  .input-form {
    margin-top: 40px ;
  }

  .input-block  input{
    font-size: 20px;
    padding:24px;
  
  
  }



  .page-login-form .remember-me{
    margin-top: 24px;
  }
  .page-login-form .label-container{
    font-size: 16px;
  }

  .page-login-form .remember-me a{
    font-size: 16px;
  }

  .page-login-form button{
    height:  8rem;
    margin-top: 88px;
    font-size: 18px;
  }
  .page-login-footer{
    font-size: 16px;
    line-height: 26px;
    margin-top: 128px;
  
    
  }

  .header{
    position: relative;
    bottom: 95px;
  }



}